Include config.d/*.conf

Host *
{{- if eq .chezmoi.os "darwin" }}
   UseKeychain yes
{{- end }}
   AddKeysToAgent yes
   ForwardAgent yes
   IdentityFile ~/.ssh/id_ed25519
   IdentityFile ~/.ssh/id_jademeskill_ed25519
   IdentityFile ~/.ssh/id_rsa
